.recipe-container {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 1000 px;
  padding: 20px;
  position:relative;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px; 
}

.recipe {
  border: 1px solid;
  border-radius: 8px;
  padding: 15px;
  background-color: aliceblue;
  width: calc(33% - 20px); 
  box-sizing:border-box; 
}

.recipe-name {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.recipe-section {
  margin-bottom: 20px;
}

.recipe-ingredients, .recipe-instructions {
  list-style-type: none;
  padding-left: 0;
}

.recipe-ingredients li, .recipe-instructions li {
  margin-bottom: 5px;
}

h3 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.IMG {
  width: 100%; /* Adjust to fit the width of the recipe card */
  max-height: 220px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 10px;
}

.edit-form {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.pagination button {
  display:flex;
  justify-content: center;
  
}

.pagination {
  margin-top: 0 10px;
}

input[type="text"], textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.logout-button {
  position: absolute;
  top: 20px; 
  right: 20px; 
 
}

.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #007bff; 
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px; 
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}
.search-container{
  display:flex;
  gap:10px;
  margin-bottom:20px ;
}
.category-buttons {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 10px; 
}

.category-buttons button {
  padding: 5px 10px;
  background-color: #007BFF; 
  color: #fff;
  border: none; 
  border-radius: 3px; 
  cursor: pointer; 
}

.category-buttons button:hover {
  background-color: #0056b3; 
}
.profile-button{
  margin-left: 10px;
  padding:10px 15px;
  border:none;
  border-radius: 5px;
  cursor:  pointer;
}