.App {
  font-family: Arial, sans-serif;
  max-width: 5000px;
  margin: auto;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color:aliceblue;
  border-width: 30px;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}


input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
  padding: 10px 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 30%; 
  box-sizing: border-box; 
}

button {
  padding: 10px ;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 15px;
  cursor: pointer;
  box-sizing:border-box; 
  justify-content: center;
  width: auto;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 14px;
}

.logo {
  background-image:url(./image.png);
  background-position: center;
  background-size: cover;
  width: 200px;
  aspect-ratio: 1/1;
  margin-bottom: 100px;
  padding-bottom: 100 px ;
}

.pagination {
  display: flex;
  gap: 20px;
  justify-content: center;
}
